<%-include("../partials/header")%>

<div class="container">
	<div>
		<div style="text-align: center;margin: 20px auto;">
			<h2 >
			   Create a New Comment to <%=blog.name%>
		    </h2>
		</div>
		
		<div style="width: 30%; margin: 30px auto;">
			<form action="/blogs/<%=blog._id%>/comments" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="text" aria-label="Search" name="comment[text]">
				</div>
					<button class="btn btn btn-primary btn-block" type="submit">Submit!</button>
  			</form>
			<a href="/blogs">Go Back</a>
		</div>
	</div>
</div>

<%-include("../partials/footer")%>