<%-include("partials/header")%>

	 <div class="container" style="text-align: center;margin: 20px auto;">
		 <h1>
			 Index Page
		 </h1>
		 <h2>
			 Welcome to ChaQua
		 </h2>
     </div>



<%-include("partials/footer")%>